In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('iris.csv')
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
to_drop = ['species']
df.drop(colums=to_drop, inplace=True)

KeyError: "['species'] not found in axis"

In [11]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [22]:
df_books=pd.read_csv('BL-Flickr-Images-Book.csv')
df_books['Identifier'].is_unique

True

In [23]:
df_books = df_books.set_index('Identifier')
df_books.head()

,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,,,,,,,,,
206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [14]:
df.loc[50]

sepal_length    7.0
sepal_width     3.2
petal_length    4.7
petal_width     1.4
Name: 50, dtype: float64

In [24]:
# df_books.set_index('Identifier', inplace=True)

KeyError: "None of ['Identifier'] are in the columns"

In [16]:
df.dtypes.value_counts()

float64    4
dtype: int64

In [17]:
df.loc[5:, 'sepal_length'].head(10)

5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
Name: sepal_length, dtype: float64

In [31]:
regex = r'^(\d{4})'

In [33]:
extr = df_books['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
extr.head()

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

In [34]:
df_books['Date of Publication'] = pd.to_numeric(extr)
df_books['Date of Publication'].dtype

dtype('float64')

In [35]:
df_books['Date of Publication'].isnull().sum() / len(df)

6.473333333333334

In [36]:
# np.where(condition, then, else)

SyntaxError: invalid syntax (2592762258.py, line 1)

In [ ]:
#np.where(condition1, x1, 
        #np.where(condition2, x2, 
            #np.where(condition3, x3, ...)))

In [18]:
df['sepal_width'].head(10)

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
5    3.9
6    3.4
7    3.4
8    2.9
9    3.1
Name: sepal_width, dtype: float64

In [19]:
df.loc[19]

sepal_length    5.1
sepal_width     3.8
petal_length    1.5
petal_width     0.3
Name: 19, dtype: float64

In [20]:
df.loc[25]

sepal_length    5.0
sepal_width     3.0
petal_length    1.6
petal_width     0.2
Name: 25, dtype: float64

In [25]:
olympics_df = pd.read_csv("iris.csv")
olympics_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
olympics_df = pd.read_csv("iris.csv", header=0)
olympics_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [27]:
new_names =  {'sepal_length': 'Length',
               'sepal_width': 'Width',
               'petal_length' : 'pLength',
               'petal_width' : 'pWidth'}

In [28]:
olympics_df.rename(columns=new_names, inplace=True)

In [29]:
olympics_df.head()

   Length  Width  pLength  pWidth species
0     5.1    3.5      1.4     0.2  setosa
1     4.9    3.0      1.4     0.2  setosa
2     4.7    3.2      1.3     0.2  setosa
3     4.6    3.1      1.5     0.2  setosa
4     5.0    3.6      1.4     0.2  setosa

In [30]:
olympics_df.size

750